/* Not great practice, but for a quick start I like to reset all elements to 1rem */
* {
  font-size: 1rem;
  color: #4A4A4A;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

body {
  padding: 0; margin: 0;
  font-family: Helvetica;
  line-height: 120%;
}

/* styles specific for navigation container */

nav {
  margin: 0.5em 1em;
  padding: 1em;
  overflow: auto;
}

nav h1 {
  display: inline;
  float: left;
}

nav a, a {
  color: #37BFD7;
}

#sort {
  list-style: none;
  display: inline;
  margin: 0;
  float:right;
}

#sort li {
  display: inline;
  font-weight: bold;
}

/* styles specific for container of grid of cards */

main {
  margin: 0;
  padding: 1em;
  background: #F8F8F8;
}
